@font-face {
 font-family: "Quantify";
 src: local("rockstars/public/assets/fonts/Quantify.ttf") format("truetype");
}

:root {
    /*--main-color: #5a3f99;*/
    --main-color: #137177;
    --main-color-lighter: #3D8A8F;
    --main-color-darker: #105D62;
    --back-color: #F0F2ED;
}
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0; 
    padding: 0;
}

body {
    background-color: #F0F2ED;
    overflow-x: hidden;
	width: 100%;
	height: 100%;
}

main {
    margin-bottom: 20px;
}
.center {
    text-align: center;
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 90%;
}
.btn-uc {
    text-transform: uppercase;
    font-weight: 500;
}
.btn-grow {
    transition: all 0.2s ease-out;
}
.btn-grow:hover {
    transform: scale(1.1);
}
.btn-chevron {
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
	transition: all 0.2s ease-out;
}
.btn-chevron:hover{
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(0);
}

.btn-chevron::after {
    /*position: absolute;*/
	content: "\f054";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	float: right;
	width: 25px;
	text-align: right;
    opacity: 0;
    transition: inherit;
    transform: translateX(-20px);
}
.btn-chevron:hover::after, .btn-chevron-left:hover::before {
    opacity: 1;
    transform: translateX(0);
}
.btn-chevron-left {
    position: relative;
    padding-left: 10px;
    padding-right: 38px;
	transition: all 0.2s ease-out;
}
.btn-chevron-left:hover {
    padding-left: 24px;
    padding-right: 24px;
    transform: translateX(0);
}
.btn-chevron-left::before {
	content: "\f053";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	float: left;
	margin-right: 8px;
	width: 25px;
    opacity: 0;
    transition: inherit;
    transform: translateX(20px);
}
.btn-theme {
    background-color: var(--main-color);
    color: #fff;
}
.btn-theme:hover {
    background-color: var(--main-color-darker);
    color: #fff;
}
.btn-outline-theme {
    border: solid var(--main-color) 1px;
    color: var(--main-color);
}
.btn-outline-theme:hover {
    background-color: var(--main-color);
    color: #fff;
}


.squareimg, .roundimg {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}
.roundimg {
    border-radius: 100%;
}


#main-cont {
    padding-top: 20px;
    padding-bottom: 120px;
    min-height: 75vh;
    margin-top: 20px;
}

#logo {
    font-family: acier-bat-noir;
    font-size: 40px;
}

#logo a {
    text-decoration: none;
    color: white;
}

#categorie {
    padding-left: 8px;
    position: relative;
    cursor: pointer;
}
header {
    background-color: var(--main-color);
    color: white;
    line-height: 100px;
}

footer {
    background-color: var(--main-color);
    color: white;
    line-height: 100px;
   /* margin-top: 20px;*/
    /*display : table-row;*/
    width: 100%;
}


#dropdown{
    visibility: hidden;
    padding-left: 0px;
    position: absolute;
	width: 200px;
	top: 100%;
	background-color: var(--main-color);
    transform: translateY(-2em);
	z-index: 10;
	text-align: center;
	opacity: 0;
	border-radius: 0% 0% 8px 8px;
}

#dropdown li {
	color: white;
	transition: all 0.2s;
	list-style: none;
}

#dropdown li:hover {
    background-color: rgba(255,255,255, 0.2);
    opacity: 1;
}
#categorie:hover > #dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
	transition: all 0.3s;
}

#categorie:hover > #dropdown li{
    color: #fff;
    padding-left: 5px;
}

#categorie:hover > #dropdown > a {
    text-decoration: none;
}
#dropdown > a:last-child > li:hover {
    border-radius: 0 0 8px 8px;
}
#admin i {
    margin-left: 5px;
}

.center {
    text-align:center;
}
#admin {
    float:right;
    color: #fff;
}
#question {
    margin: 20px;
    margin-left: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.11);
    animation: arrive 0.8s cubic-bezier(.75,.19,.54,.99);
}
#form-envoi button {
    display: none;
}
#question .bouton-reponse, #form-envoi button  {
    margin: 5px;
}

#question.vrai .bouton-reponse, #question.faux .bouton-reponse {
    display: none;
}
#question.vrai #form-envoi button, #question.faux #form-envoi button {
    display: block;
}

#question.vrai {
    animation: bonne_reponse ease-in-out 1s;
}

#question.faux {
    animation: mauvaise_reponse 1s;
}

#question-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px;
    border-left: solid #eee 2px;
}
#question-text h1 {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 100%;
}
#question-text .enonce {
    color: #222;
    font-weight: normal;
    font-size: 120%;
}


#question-image {
    padding: 10px 30px 10px 10px;
}

#question-image .squareimg {
    border-radius: 8px;
}

#question.vrai #texte-reponse span {
    color: #28a745;
}
#question.faux #texte-reponse span {
    color: #dc3545;
}
#texte-reponse {
    display: none;
}
#question.vrai #texte-reponse, #question.faux #texte-reponse, #texte-reponse.visible {
    display: block;
}

.btn-continue {
    background-color: #eaeaea;
}
.btn-continue:hover {
    color: #fafafa;
    background-color: #999;
}
.btn-continue:hover::after {
    color: #eee;
}

#score {
    text-align: center;
}

#barre-score {
    position: relative;
    width: 50%;
    margin-left: 25%;
    height: 10px;
    border-radius: 5px;
    background-color: #eee;
    overflow: hidden;
    
}
#barre-score div {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: #66ff99;
    transition: all 0.6s ease-out;
}
#barre-score div.start {
    width: 0;
}


@keyframes arrive {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes mauvaise_reponse {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes bonne_reponse {
    16.65% {
        transform: translateY(8px);
    }

    33.3% {
        transform: translateY(-6px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}




/* ----- ADMIN ----- */
.dashboard-stat {
    font-size: 400%;
}


#admin-user-img img {
    width: 100%;
}
.admin-user-pseudo {
    display: flex;
    align-items: center;
}


#admin-logo {
    font-family: acier-bat-noir;
    font-size: 40px;
    margin-top: 15px;
}

#admin-logo a {
    text-decoration: none;
    color: white;
}

#admin-nav {
    background-color: var(--main-color);
    position: fixed;
    height: 100%;
}

#admin-content {
    position: absolute;
    right: 0;
}

.menu_elements {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 120%;
    margin: 15px;
}
 
.menu_elements:hover {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 120%;
    margin: 15px;
}


#aside_theme{
    visibility: hidden;
    left: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--main-color);
    color: white;
    list-style: none;
    bottom: -35%;
    border-radius: 0 8px 8px 0;
    padding: 0px;
	font-size: 120%;
	transform: translateX(-2em);
    transition: all 0.3s;
}

#aside_theme > a {
    margin: 15px;
    text-decoration: none;
    color: #fff;
}

#theme_menu > ul {
    width: 100%;         /* Permet d'élargir le menu aside */
    opacity: 0;
    transition: 0.3s ease-out;
}

#theme_menu > ul > div {
    padding: 15px; /* Permet d'augmenter la hauteur du menu aside */
}

#theme_menu > ul > div > a {   /* Sélectionner le lien pour le centrer dans le menu */
    text-align: center;
    text-decoration: none;
    color: white;
} 

#theme_menu > ul > div:hover {
    background-color: rgba(255, 255, 255, 0.2);    /* Donne une couleur de fond diffrente au sous menu ciblé */ 
} 


#theme_menu:hover > ul {
    visibility: visible;    /* Rends le menu aside visible */
    transform: translateX(0%);
    opacity: 1;
    
}

#aside_question{
    visibility: hidden;
    left: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--main-color);
    color: white;
    list-style: none;
    bottom: -40%;
    border-radius: 0 8px 8px 0;
    padding: 0px;
	font-size: 120%;
	transform: translateX(-2em);
    transition: all 0.3s;
	
}

#aside_question > a{
    margin: 15px;    
}

#question_menu > ul  {    
    width: 100%;         /* Permet d'élargir le menu aside */
    opacity: 0;
}

#question_menu > ul > div {
    padding: 15px;        /* Permet d'augmenter la hauteur du menu aside */
}

#question_menu > ul > div > a {   /* Sélectionner le lien pour le centrer dans le menu */
    text-align: center;
    text-decoration: none;
    color: white;
} 

#question_menu > ul > div:hover {
    background-color: rgba(255, 255, 255, 0.2);    /* Donne une couleur de fond diffrente au sous menu ciblé */ 
    transition: all 0.2s;
} 


#question_menu:hover > ul {
    visibility: visible;      /* Rends le menu aside visible */
    transform: translateY(0%);
    transition: 0.3s ease-out;
    opacity: 1;
}

/* menu aside pour les utilisateurs */

#aside_utilisateurs{
    visibility: hidden;
    left: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--main-color);
    color: white;
    list-style: none;
    bottom: -40%;
    border-radius: 0 8px 8px 0;
    padding: 0px;
	font-size: 120%;
	transform: translateX(-2em);
    transition: all 0.3s;
	
}

#aside_utilisateurs > a{
    margin: 15px;    
}

#utilisateurs_menu > ul  {    
    width: 100%;         /* Permet d'élargir le menu aside */
    opacity: 0;
}

#utilisateurs_menu > ul > div {
    padding: 15px;        /* Permet d'augmenter la hauteur du menu aside */
}

#utilisateurs_menu > ul > div > a {   /* Sélectionner le lien pour le centrer dans le menu */
    text-align: center;
    text-decoration: none;
    color: white;
} 

#utilisateurs_menu > ul > div:hover {
    background-color: rgba(255, 255, 255, 0.2);    /* Donne une couleur de fond diffrente au sous menu ciblé */ 
    transition: all 0.2s;
} 

#utilisateurs_menu:hover > ul {
    visibility: visible;      /* Rends le menu aside visible */
    transform: translateY(0%);
    transition: 0.3s ease-out;
    opacity: 1;
}


.admin-container {
    margin: 20px;
}


.table-theme tbody tr, .table-question tbody tr {
    line-height: 80px;
} 

/*.admin-actions {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


/* Les règles CSS suivantes concernent la page login.php */

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
}

.user_logo {
    width: 180px;
}

.spacer_form {
    margin: 5px;
}

.btn_validation {
    margin-top: 30px;
}

.spacer_group{
    margin-top: 15px;
}

#header_login {
    margin-bottom: 30px;
}

#champs_log > input:nth-child(1), #champs_log > input:nth-child(2) {
    background-color: var(--back-color);
}

/* Couleur verte et rouge pour la vérif de nouveau mdp */

.red {
    background-color: #EF7994;
}

.green {
    background-color: #CBEFAF;
}


/*Les règles CSS suivantes concernent la page changemdp.php */

.changemdp_box {    /*Modifie la box dans laquelle est contenu le formulaire */
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
    margin-top: 30px;
}

.spacer_change_mdp {     /* Permet les margin des éléments de la box */
    margin-bottom: 30px;
}

/*#form_change_mdp > div > input{       ------> En parler avec Léo 
    background-color: var(--back-color);
}*/

.btn_changement_mdp {    /*Permet de gérer le margin entre les 2 boutons de la page */
    margin: 10px;
}

 /*onglets dans l'admin*/
.tab-content {
    padding: 20px;
}
#preview-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 5px;
}


/* Les règles suivantes concernent le design de la page 404 */

#corp_404 {
    background-color: black;
    min-height: 90%;
    position: relative;
}

#box_safety {
    border: 1px solid;
    border-color: white;
    position: absolute;
    bottom: 15%;
    right: 15%;
}

#safety {
    font-family: nazare, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding: 10px;
}

#safety > a {
    text-decoration: none;
    color: white;
}

#error_404_text {
    position: absolute;
    left: 8%;
    bottom:15%;
}

#title_404 {
    font-family: nazare, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 80px;
}

#text_404 {
    font-family: nazare, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 25px;
}

/* Les règles suivantes concernent le design du footer */

#copyright {
    color: var(--back-color);
}

#copyright_logo {
    font-family: acier-bat-noir;
}