@font-face {
 font-family: "Quantify";
 src: local("rockstars/public/assets/fonts/Quantify.ttf") format("truetype");
}

:root {
    /*--main-color: #5a3f99;*/
    --main-color: #137177;
    --main-color-lighter: #3D8A8F;
    --main-color-darker: #105D62;
    --back-color: #F0F2ED;
}
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0; 
    padding: 0;
}

body {
    background-color: #F0F2ED;
    overflow-x: hidden;
	width: 100%;
	height: 100%;
}

main {
    margin-bottom: 20px;
}
.center {
    text-align: center;
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 90%;
}
.btn-uc {
    text-transform: uppercase;
    font-weight: 500;
}
.btn-grow {
    transition: all 0.2s ease-out;
}
.btn-grow:hover {
    transform: scale(1.1);
}
.btn-chevron {
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
	transition: all 0.2s ease-out;
}
.btn-chevron:hover{
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(0);
}

.btn-chevron::after {
    /*position: absolute;*/
	content: "\f054";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	float: right;
	width: 25px;
	text-align: right;
    opacity: 0;
    transition: inherit;
    transform: translateX(-20px);
}
.btn-chevron:hover::after, .btn-chevron-left:hover::before {
    opacity: 1;
    transform: translateX(0);
}
.btn-chevron-left {
    position: relative;
    padding-left: 10px;
    padding-right: 38px;
	transition: all 0.2s ease-out;
}
.btn-chevron-left:hover {
    padding-left: 24px;
    padding-right: 24px;
    transform: translateX(0);
}
.btn-chevron-left::before {
	content: "\f053";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	float: left;
	margin-right: 8px;
	width: 25px;
    opacity: 0;
    transition: inherit;
    transform: translateX(20px);
}
.btn-theme {
    background-color: var(--main-color);
    color: #fff;
}
.btn-theme:hover {
    background-color: var(--main-color-darker);
    color: #fff;
}
.btn-outline-theme {
    border: solid var(--main-color) 1px;
    color: var(--main-color);
}
.btn-outline-theme:hover {
    background-color: var(--main-color);
    color: #fff;
}
.btn-transparent-dark {
    background-color: rgba(20, 20, 20, 0.5);
    color: #fff;
}
.btn-transparent-dark:hover {
    background-color: rgba(20, 20, 20, 0.8);;
    color: #fff;
}

.form-check-input {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.squareimg, .roundimg {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}
.roundimg {
    border-radius: 100%;
}


.dyn-msg {
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 70%;
    animation: newmsg 0.2s ease;
    transition: all 0.2s;
}
.dyn-msg.closed {
    opacity: 0;
}
.dyn-msg .alert {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.4);

}
.dyn-msg.wiggle {
    animation: mauvaise_reponse 0.7s;
}
.dyn-msg-content {
    margin-right: 50px;
}
.dyn-msg-close {
    cursor: pointer;
    margin-left: 20px;
}
.dyn-msg-prompt {
    margin-left: 40px;
    text-align: right;
}
.dyn-msg-prompt .btn {
    padding: 8px 20px;
}
.dyn-msg-prompt .btn:first-child, .dyn-msg-prompt .btn:first-child:hover {
    color: #fff;
    margin-right: 8px;
}
.flashmsg {
    display: none;
    animation: delaishow 0s 0.2s;
}
@keyframes delaishow {
    from {display: none;}
    to {display: block;}
}

#logo {
    font-family: acier-bat-noir;
    font-size: 40px;
}

#logo a {
    text-decoration: none;
    color: white;
}

#categorie {
    padding-left: 8px;
    position: relative;
    cursor: pointer;
}
header {
    background-color: var(--main-color);
    color: white;
    line-height: 100px;
}

footer {
    background-color: var(--main-color);
    color: white;
    line-height: 100px;
   /* margin-top: 20px;*/
    /*display : table-row;*/
    width: 100%;
}
.slide-canvas {
    position: relative;
}
.slide-content {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 40px;
    bottom: 20px;
    width: auto;
}
.slide-content .squareimg {
    width: 90%;
}
.slide-text {
    padding-top: 20px;
}

#dropdown{
    visibility: hidden;
    padding-left: 0px;
    position: absolute;
	width: 200px;
	top: 100%;
	background-color: var(--main-color);
    transform: translateY(-2em);
	z-index: 10;
	text-align: center;
	opacity: 0;
	border-radius: 0% 0% 8px 8px;
}

#dropdown li {
	color: white;
	transition: all 0.2s;
	list-style: none;
}

#dropdown li:hover {
    background-color: rgba(255,255,255, 0.2);
    opacity: 1;
}
#categorie:hover > #dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
	transition: all 0.3s;
}

#categorie:hover > #dropdown li{
    color: #fff;
    padding-left: 5px;
}

#categorie:hover > #dropdown > a {
    text-decoration: none;
}
#dropdown > a:last-child > li:hover {
    border-radius: 0 0 8px 8px;
}

#admin {
    float: right;
    color: #fff;
}

#admin i {
    margin-left: 5px;
}

.center {
    text-align:center;
}

#form-envoi button {
    display: none;
}
#question .bouton-reponse, #form-envoi button  {
    margin: 5px;
}

#question.vrai .bouton-reponse, #question.faux .bouton-reponse {
    display: none;
}
#question.vrai #form-envoi button, #question.faux #form-envoi button {
    display: block;
}

#question.vrai {
    animation: bonne_reponse ease-in-out 1s;
}

#question.faux {
    animation: mauvaise_reponse 1s;
}

@media screen and (max-width: 576px) {
    #question-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 17px 17px;
    }

    #question {
        margin: 10px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.11);
        animation: arrive 0.8s cubic-bezier(.75,.19,.54,.99);
    }

    #question-image {
        padding: 10px 10px 10px 10px;
    }

    #question-text .enonce {
        text-align: center;
        color: #222;
        font-weight: normal;
        font-size: 90%;
    }

    #button-faux, #button-vrai {
        width: 85px;
        padding: 15px 5px;
    }

    .boutons-reponse {
        text-align: center;
    }

    #main-cont {
        padding-bottom: 10px;
        min-height: 75vh;
        margin-top: 20px;
    }

    #texte-reponse {
        padding-left: 6px;
        font-weight: normal;
        font-size: 90%;
    }

    #boutons-fin {
        text-align: center;
    }

    #button-rejouer {
        margin-bottom: 5px;
    }

    .categorie-play {
        color: var(--main-color);
        font-size: 110%;
        text-transform: uppercase;
        text-align: center;
    }

}

@media screen and (min-width: 576px) {
    #question-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px;
        border-left: solid #eee 2px;
    }

    #question {
        margin: 20px;
        margin-left: 30px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.11);
        animation: arrive 0.8s cubic-bezier(.75,.19,.54,.99);
    }

    #question-image {
        padding: 10px 30px 10px 10px;
    }

    #question-text .enonce {
        color: #222;
        font-weight: normal;
        font-size: 120%;
    }

    #main-cont {
        padding-top: 20px;
        padding-bottom: 120px;
        min-height: 75vh;
        margin-top: 20px;
    }

    .categorie-play {
        color: var(--main-color);
        font-size: 150%;
        font-weight: bold;
        text-transform: uppercase;
    }

}

#question-text h1 {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 100%;
}

#question-image .squareimg {
    border-radius: 8px;
}

#question.vrai #texte-reponse span {
    color: #28a745;
}
#question.faux #texte-reponse span {
    color: #dc3545;
}
#texte-reponse {
    display: none;
}
#question.vrai #texte-reponse, #question.faux #texte-reponse, #texte-reponse.visible {
    display: block;
}

.btn-continue {
    background-color: #eaeaea;
}
.btn-continue:hover {
    color: #fafafa;
    background-color: #999;
}
.btn-continue:hover::after {
    color: #eee;
}

#score {
    text-align: center;
}

#barre-score {
    position: relative;
    width: 50%;
    margin-left: 25%;
    height: 10px;
    border-radius: 5px;
    background-color: #eee;
    overflow: hidden;
    
}
#barre-score div {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: #66ff99;
    transition: all 0.6s ease-out;
}
#barre-score div.start {
    width: 0;
}


@keyframes arrive {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes newmsg {
    from {
        transform: translateY(160%);
    }
    to {
        transform: translateY(0);
    }
}


@keyframes mauvaise_reponse {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes bonne_reponse {
    16.65% {
        transform: translateY(8px);
    }

    33.3% {
        transform: translateY(-6px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}




/* ----- ADMIN ----- */
.dashboard-stat {
    font-size: 400%;
}


#admin-user-img img {
    width: 100%;
}
.admin-user-pseudo {
    display: flex;
    align-items: center;
}


#admin-logo {
    font-family: acier-bat-noir;
    font-size: 40px;
    margin-top: 15px;
}

#admin-logo a {
    text-decoration: none;
    color: white;
}

#admin-nav {
    background-color: var(--main-color);
    position: fixed;
    height: 100%;
}

#admin-content {
    position: absolute;
    right: 0;
}

.menu_elements {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 120%;
    margin: 15px;
}
 
.menu_elements:hover {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 120%;
    margin: 15px;
}


#aside_theme{
    visibility: hidden;
    left: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--main-color);
    color: white;
    list-style: none;
    bottom: -35%;
    border-radius: 0 8px 8px 0;
    padding: 0px;
	font-size: 120%;
	transform: translateX(-2em);
    transition: all 0.3s;
}

#aside_theme > a {
    margin: 15px;
    text-decoration: none;
    color: #fff;
}

#theme_menu > ul {
    width: 100%;         /* Permet d'Ã©largir le menu aside */
    opacity: 0;
    transition: 0.3s ease-out;
}

#theme_menu > ul > div {
    padding: 15px; /* Permet d'augmenter la hauteur du menu aside */
}

#theme_menu > ul > div > a {   /* SÃ©lectionner le lien pour le centrer dans le menu */
    text-align: center;
    text-decoration: none;
    color: white;
} 

#theme_menu > ul > div:hover {
    background-color: rgba(255, 255, 255, 0.2);    /* Donne une couleur de fond diffrente au sous menu ciblÃ© */ 
} 


#theme_menu:hover > ul {
    visibility: visible;    /* Rends le menu aside visible */
    transform: translateX(0%);
    opacity: 1;
    
}

#aside_question{
    visibility: hidden;
    left: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--main-color);
    color: white;
    list-style: none;
    bottom: -40%;
    border-radius: 0 8px 8px 0;
    padding: 0px;
	font-size: 120%;
	transform: translateX(-2em);
    transition: all 0.3s;
	
}

#aside_question > a{
    margin: 15px;    
}

#question_menu > ul  {    
    width: 100%;         /* Permet d'Ã©largir le menu aside */
    opacity: 0;
}

#question_menu > ul > div {
    padding: 15px;        /* Permet d'augmenter la hauteur du menu aside */
}

#question_menu > ul > div > a {   /* SÃ©lectionner le lien pour le centrer dans le menu */
    text-align: center;
    text-decoration: none;
    color: white;
} 

#question_menu > ul > div:hover {
    background-color: rgba(255, 255, 255, 0.2);    /* Donne une couleur de fond diffrente au sous menu ciblÃ© */ 
    transition: all 0.2s;
} 


#question_menu:hover > ul {
    visibility: visible;      /* Rends le menu aside visible */
    transform: translateY(0%);
    transition: 0.3s ease-out;
    opacity: 1;
}

/* menu aside pour les utilisateurs */

#aside_utilisateurs{
    visibility: hidden;
    left: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--main-color);
    color: white;
    list-style: none;
    bottom: -40%;
    border-radius: 0 8px 8px 0;
    padding: 0px;
	font-size: 120%;
	transform: translateX(-2em);
    transition: all 0.3s;
	
}

#aside_utilisateurs > a{
    margin: 15px;    
}

#utilisateurs_menu > ul  {    
    width: 100%;         /* Permet d'Ã©largir le menu aside */
    opacity: 0;
}

#utilisateurs_menu > ul > div {
    padding: 15px;        /* Permet d'augmenter la hauteur du menu aside */
}

#utilisateurs_menu > ul > div > a {   /* SÃ©lectionner le lien pour le centrer dans le menu */
    text-align: center;
    text-decoration: none;
    color: white;
} 

#utilisateurs_menu > ul > div:hover {
    background-color: rgba(255, 255, 255, 0.2);    /* Donne une couleur de fond diffrente au sous menu ciblÃ© */ 
    transition: all 0.2s;
} 

#utilisateurs_menu:hover > ul {
    visibility: visible;      /* Rends le menu aside visible */
    transform: translateY(0%);
    transition: 0.3s ease-out;
    opacity: 1;
}


.admin-container {
    margin: 20px;
    border-radius: 1em;
    background-color: white;
    padding: 20px;
}

.table-theme {
    background-color: #fcfcfc;
}

.table-theme tbody tr, .table-question tbody tr {
    line-height: 80px;
}

/*.admin-actions {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


/* Les rÃ¨gles CSS suivantes concernent la page login.php */

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
}

.user_logo {
    width: 180px;
}

.spacer_form {
    margin: 5px;
}

.btn_validation {
    margin-top: 30px;
}

.spacer_group{
    margin-top: 15px;
}

#header_login {
    margin-bottom: 30px;
}

#champs_log > input:nth-child(1), #champs_log > input:nth-child(2) {
    background-color: var(--back-color);
}

/* Couleur verte et rouge pour la vÃ©rif de nouveau mdp */

.red {
    background-color: #EF7994;
}

.green {
    background-color: #CBEFAF;
}


/*Les rÃ¨gles CSS suivantes concernent la page changemdp.php et changemail.php */

.changemdp_box {    /*Modifie la box dans laquelle est contenu le formulaire */
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
    margin-top: 30px;
}

.spacer_change_mdp {     /* Permet les margin des Ã©lÃ©ments de la box */
    margin-bottom: 30px;
}

/*#form_change_mdp > div > input{       ------> En parler avec LÃ©o 
    background-color: var(--back-color);
}*/

.btn_changement_mdp {    /*Permet de gÃ©rer le margin entre les 2 boutons de la page */
    margin: 10px;
}

.change_mdp-container {
    position: relative;
}

 /*onglets dans l'admin*/
.tab-content {
    padding: 20px;
}
#preview-image {
    border-radius: 8px;
    background-color: #ccc;
    background-image: url('/assets/img/default.png');
}
#edit-imgbloc {
    padding: 5px;
    margin: 10px;
}

/* Les rÃ¨gles suivantes concernent le design de la page 404 */

#corp_404 {
    background-color: black;
    min-height: 100%;
    position: relative;
}

#box_safety {
    border: 1px solid;
    border-color: white;
    position: absolute;
    bottom: 15%;
    right: 15%;
}

#safety {
    font-family: nazare, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding: 10px;
}

#safety > a {
    text-decoration: none;
    color: white;
}

#error_404_text {
    position: absolute;
    left: 8%;
    bottom:15%;
}

#title_404 {
    font-family: nazare, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 80px;
}

#text_404 {
    font-family: nazare, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 25px;
}

#astronaute {
    position: absolute;
    right: 19%;
    top: 10%;
}

.anim_astro {        /* rÃ¨gles pour l'naimation de  l'astronaute */
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: astro;
    animation-timing-function: linear;
}

@keyframes astro {
  0% {
    right: 19%;
    top: 10%;
  }
  
  50% {
    right:49%;
    top: 10%;
    transform: rotate(0.2turn);
  } 
  
  100% {
    right: 19%;
    top: 10%;
    rotate(0.4turn);
  }
}

/* Les rÃ¨gles suivantes concernent le design du footer */

#copyright {
    color: white;
}

#copyright_logo {
    font-family: acier-bat-noir;
}

#logo_footer {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-top: 35px;
}



/* Les rÃ¨gles suivantes concernent l'avatar utilisateurs dans le header lorsqu'il est connectÃ© */

#header_avatar {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
    display: inline-block;
    position: absolute;
    top: 30%;
}

#div_avatar_header {
    padding-left: 0px;
    padding-right: 0px;
    /*padding-top: 3%;*/
}

#div_header {
    padding-right: 20px;
}

/* Toutes les rÃ¨gles suivantes concernent le menu dropdown admin */

#dropdown2{
    visibility: hidden;
    padding-left: 0px;
    position: absolute;
	width: 200px;
	top: 100%;
	background-color: var(--main-color);
    transform: translateY(-2em);
	z-index: 10;
	text-align: center;
	opacity: 0;
	border-radius: 0% 0% 8px 8px;
}

#dropdown2 li {
	color: white;
	transition: all 0.2s;
	list-style: none;
}

#dropdown2 li:hover {
    background-color: rgba(255,255,255, 0.2);
    opacity: 1;
}
#admin:hover > #dropdown2 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
	transition: all 0.3s;
}

#admin:hover > #dropdown2 li{
    color: #fff;
    padding-left: 5px;
}

#admin:hover > #dropdown2 > a {
    text-decoration: none;
}
#dropdown2 > a:last-child > li:hover {
    border-radius: 0 0 8px 8px;
}

#admin  a {
    text-decoration: none;
    color: white;
}
.title_cat {
    margin-top: 20px;
    margin-bottom: 15px;
}
.btn-move-theme {
    cursor: move;
}
.btn-move-theme:hover {
    background-color: transparent;
    border: solid var(--green) 1px;
    color: var(--green);
}

/*Les regles CSS suivantes concernent les boutons de partage de resultats a la fin des quizz */

#twitter {
    font-size: 50px;
    color: #00ACEE;
}

#twitter:hover {
    color: #00ACEE;
}

#facebook {
    color: #3B5998;
    font-size: 50px;
}


/*Les rÃ¨gles CSS suivantes concernent la dashboard admin */
#best_contributor_box {
    margin-top: 8px;
}

#dashboard-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

#best_contributor_avatar {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    min-width: 130px;
    max-width: 130px;
    min-height: 130px;
    max-height: 130px;
    display: inline-block;
}



#top_question_avatar {
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    min-width: 130px;
    max-width: 130px;
    min-height: 130px;
    max-height: 130px;
    display: inline-block;
}

#top_question {
    font-size: 20px;
}

#personnalisation_box {
    padding-top: 7px;
}

#colorpresets {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.colorpreset {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 8px;
}

/* Premiere ligne de la dashboard qui permet l'affichage des stats du site */

.stat_row {
    padding: 15px;
    padding-top: 0px;
}

.stat_box {
    border: solid 1px;
    border-radius: 5px;
    padding: 25px;
    color: white;
    font-size: 20px;
}

.stat {
    font-family: zeitung-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

#box_nb_questions {
    background-color: #39B585;
    background-image: linear-gradient(to bottom right, #29825F, #5DC29B);
}

#box_nb_themes {
    background-color: #584DF9;
    background-image: linear-gradient(to bottom right, #4139B6, #857DFA);
}

#box_nb_parties {
    background-color: #D81159;
    background-image: linear-gradient(to bottom right, #B10E49, #DF3C77);
}

#box_nb_inscrits {
    background-color: #FFC456;
    background-image: linear-gradient(to bottom right, #B58B3D, #FFC760);
}

/* Les règles suivantes concerne les noms de catégories et le bloc catégorie sur la page d'acceuil */


.card {
    width: 20rem !important;
}
.home-card {
    margin: 0 auto;
}

.categorie_nom {
    font-family: jaf-facitweb, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 18px;
    margin-left: 15px;
    color: #444444;
}

#titre_acceuil {
    font-family: jaf-facitweb, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    margin-bottom: 3px;
    margin-left: 15px;
    margin-top: 8px;
    color: #444444;
}

.bloc_categorie {
    border: solid 1px;
    border-radius: 5px;
    padding: 25px;
    margin-top: 15px;
    border-color: var(--main-color);
}

.bloc_categorie/*:first-child*/ {
    margin-left: 15px;
}

.icone_categories {
    width: 25px;
    border: solid 1px;
    border-radius: 5px ;
    padding: 5px;
}
.tr-theme {
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}
.tr-theme.dragged {
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.4);
}

.bloc-categorie {
    transition: all 0.3s;
}
.bloc-categorie.dropping {
    background-color: #C6C6C6;
}

.nom_categorie, .nom_categorie:hover {
    text-decoration: none;
    color: #444444;
}

.nom_bloc_categorie {
    font-family: jaf-facitweb, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}

/* Les règles CSS suivantes concernent la page d'intro du site */

@media screen and (max-width: 769px) {

    #left_part {
        height: 50%;
        background-color: var(--main-color);
        padding: 0px;
        margin: 0px;
    }

    #right_part {
        height: 50%;
        background-color: #444444;
        padding: 0px;
        margin: 0px;
        width:  50%;
    }

    #qwwizzy_intro {     /* Règles pour les textes de la moitié gauche */
        font-family: acier-bat-noir;
        font-size: 50px;
        position: relative;
        top: 27%;
        text-align: center;
        color: white;
    }

    .liens {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        position: relative;
        font-size: 20px;
        top: 35%;
        color: white;
        border-color: white;
        border: solid 1px;
        width: 40%;
        margin-left: 30%;
        padding: 15px;
    }

    #random_title {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 33px;
        position: relative;
        top: 30%;
        text-align: center;
        color: white;
    }

    #liens_2 {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        position: relative;
        font-size: 20px;
        top: 42%;
        color: white;
        border-color: white;
        border: solid 1px;
        width: 40%;
        margin-left: 30%;
        padding: 15px;
    }

}

@media screen and (min-width: 769px) {

    #left_part {
        height: 100%;
        background-color: var(--main-color);
        padding: 0px;
        margin: 0px;
    }

    #right_part {
        height: 100%;
        background-color: #444444;
        padding: 0px;
        margin: 0px;
        width:  50%;
    }

    #qwwizzy_intro {     /* Règles pour les textes de la moitié gauche */
        font-family: acier-bat-noir;
        font-size: 90px;
        position: relative;
        top: 32%;
        text-align: center;
        color: white;
    }

    .liens {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        position: relative;
        font-size: 27px;
        top: 35%;
        color: white;
        border-color: white;
        border: solid 1px;
        width: 40%;
        margin-left: 30%;
        padding: 15px;
    }

    #random_title {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        position: relative;
        top: 36%;
        text-align: center;
        color: white;
    }

    #liens_2 {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        position: relative;
        font-size: 27px;
        top: 42%;
        color: white;
        border-color: white;
        border: solid 1px;
        width: 40%;
        margin-left: 30%;
        padding: 15px;
    }

}


#container_intro {
    padding: 0px;
}

#row_intro {
    height: 100%;
}

/* Supprime les transformations par défault des liens */

.no_link {   
    text-decoration: none;
    color: white;
}

.no_link:hover {
    text-decoration: none;
    color: white;
}
